body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#word-container {
    font-size: 24px;
    margin: 20px 0;
}

#guess-input {
    font-size: 18px;
    padding: 5px;
    margin-right: 10px;
}

#guess-button, #restart-button {
    font-size: 18px;
    padding: 5px 10px;
    cursor: pointer;
}

#message {
    margin-top: 20px;
    font-size: 18px;
    color: red;
}

#points {
    margin-top: 20px;
    font-size: 18px;
    color: green;
}

#hint-button, #next-button, #restart-button {
    font-size: 18px;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
}

#difficulty {
    font-size: 18px;
    margin-bottom: 20px;
}